* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(/bgd.gif);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.characterOne {
    width: 270px;
    height: 270px;
    object-fit: contain;
    position: absolute;
    bottom: 30px;
    left: 350px;
}

.characterTwo {
    width: 270px;
    height: 270px;
    object-fit: contain;
    position: absolute;
    bottom: 30px;
    right: 350px;
}